* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  padding: 30px 50px;
  justify-content: center;
  background-color: #6b8083;
}

header span {
  border: 2px solid black;
  border-radius: 5%;
  padding: 5px 5px;
}

header span a {
  text-decoration: none;
  color: rgb(245, 195, 211);
}

header h3 {
  font-weight: 300;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

header nav ul li {
  padding: 0 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

header nav ul li:first-child a {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

footer {
  margin-top: auto;
  padding: 20px 20px;
  color: #fff;
  background-color: #363535;
  text-align: center;
}

.cards-container {
  padding: 50px 80px;
  width: 84%;
  display: flex;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 117%;
  height: 141vh;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 5vh;
  margin: 20px;
}

.card button {
  background-color: #fff;
  border-radius: 2px;
  margin: 3px;
  font-size: 16px;
  padding: 3px 0;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: rgb(173, 173, 229);
}

.likes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px 0;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.popup-container {
  position: fixed;
  left: 50%;
  transition: 0.5s ease-in-out;
  width: 80%;
  border: 2px solid brown;
  height: 480px;
  transform: translate(-50%, 5%);
  background: navajowhite;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 30%;
  position: relative;
  left: 10px;
}

.cross-btn {
  display: flex;
  position: relative;
  left: 219px;
  top: 20px;
  font-size: 30px;
  color: blue;
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: center;
}

.ratingbox {
  position: relative;
  top: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.genresbox {
  position: relative;
  top: 40px;
  width: 96%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.genresbox:last-child {
  position: relative;
  right: 20px;
}
